<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale =1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
</head>
<body>

<strong>Login</strong><br>
<ul>
  <li><a href="/">home</a></li>
  <li><a href="/login">about</a></li>

</ul>

<form  action="/userMain" method="POST">
  <label for="usr">User name</label>
    <input type="text" name="username" id="usr" placeholder="select user name"><br>

  <label for="psw">Password</label>
    <input type="password" name="password" id="psw" placeholder="select password"><br>

    <label for="em">email</label>
      <input type="text" name="email" id="psw" placeholder="Enter email"><br>

  <input type="submit">
</form>

</body>
</html>
