<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale =1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>

  <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class= "title" is-1>gatetu</h1>
          <h2 class= "subtitle">Receivable finance solutions to africa</h1>
  </section>

<ul>
  <li><a href="/">home</a></li>
  <li><a href="/login">about</a></li>

</ul>

<form  action="/signup" method="POST">
  <label for="usr">User name</label>
    <input type="text" name="username" id="usr" placeholder="select user name"><br>

  <label for="psw">Password</label>
    <input type="password" name="password" id="psw" placeholder="select password"><br>

    <label for="em">email</label>
      <input type="text" name="email" id="psw" placeholder="Enter email"><br>

  <input type="submit" value="login">
</form>

</body>
</html>
