<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale =1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>

<strong>User Dashboard</strong><br>
<ul>
  <li><a href="/">home</a></li>
  <li><a href="/login">about</a></li>
</ul>

<h1>{{.Usr}} {{.Psw}}</h1>


</body>
</html>
